.experiences {
    scroll-margin-top: 70px;
}

.upcoming_events {
    font-family: "Poppins Bold", "Segoe UI";
    font-weight: bold;
    //text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    color:black;
    font-size: calc(40rem / 16);
}